<!DOCTYPE html>
<html>
  <head>
    <title>Sonatify</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/6c0a721db5.js"></script>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
